[submodule "docker/chex"]
	path = docker/chex
	url = https://github.com/google-deepmind/chex.git
	shallow = true
[submodule "docker/flax"]
	path = docker/flax
	url = https://github.com/google/flax.git
	shallow = true
[submodule "docker/clu"]
	path = docker/clu
	url = https://github.com/google/CommonLoopUtils.git
	shallow = true
[submodule "docker/jax"]
	path = docker/workspace/jax
	url = ssh://git@github.com/nv-legate/jax.git
	shallow = true
[submodule "docker/optax"]
	path = docker/optax
	url = https://github.com/google-deepmind/optax.git
	shallow = true
[submodule "docker/nccl"]
	path = docker/nccl
	url = https://github.com/NVIDIA/nccl.git
	shallow = true
[submodule "docker/maxtext"]
	path = docker/maxtext
	url = https://github.com/AI-Hypercomputer/maxtext.git
	shallow = true
[submodule "docker/zuku"]
	path = docker/workspace/zuku
	url = ssh://git@github.com/nv-legate/zuku.git
  shallow = true
[submodule "docker/legate-jax"]
	path = docker/workspace/legate-jax
	url = ssh://git@github.com/nv-legate/legate.jax.git
  shallow = true
[submodule "docker/realm"]
	path = docker/workspace/realm
	url = https://gitlab.com/StanfordLegion/legion.git
  shallow = true
[submodule "docker/orbax"]
	path = docker/orbax
	url = https://github.com/google/orbax.git
  shallow = true
[submodule "docker/paxml"]
	path = docker/paxml
	url = https://github.com/google/paxml.git
  shallow = true
[submodule "docker/praxis"]
	path = docker/praxis
	url = https://github.com/google/praxis.git
  shallow = true
[submodule "docker/seqio"]
	path = docker/seqio
	url = https://github.com/google/seqio.git
  shallow = true
[submodule "docker/te"]
	path = docker/te
	url = https://github.com/NVIDIA/TransformerEngine.git
  shallow = true
[submodule "docker/xla"]
	path = docker/workspace/xla
	url = ssh://git@github.com/nv-legate/xla.git
  shallow = true
[submodule "docker/ucx"]
	path = docker/ucx
	url = https://github.com/openucx/ucx.git
  shallow = true
