[submodule "docker/nccl"]
  path = docker/nccl
  url = https://github.com/NVIDIA/nccl.git
  shallow = true
[submodule "docker/maxtext"]
  path = docker/maxtext
  url = https://github.com/AI-Hypercomputer/maxtext.git
  shallow = true
[submodule "docker/te"]
  path = docker/te
  url = https://github.com/NVIDIA/TransformerEngine.git
  shallow = true
[submodule "docker/ucx"]
  path = docker/ucx
  url = https://github.com/openucx/ucx.git
  shallow = true
[submodule "docker/te-xla"]
  path = docker/te-xla
  url = ssh://git@github.com/nv-legate/xla.git
  shallow = true
[submodule "docker/ucc"]
  path = docker/ucc
  url = https://github.com/openucx/ucc.git
  shallow = true
[submodule "docker/rapids-cmake"]
  path = docker/rapids-cmake
  url = https://github.com/rapidsai/rapids-cmake.git
[submodule "docker/cpm"]
  path = docker/cpm
  url = https://github.com/cpm-cmake/CPM.cmake.git
[submodule "docker/workspace/jax"]
  path = docker/workspace/jax
  url = https://github.com/jax-ml/jax.git
  shallow = true
[submodule "docker/workspace/zuku"]
  path = docker/workspace/zuku
  url = ssh://git@github.com/nv-legate/zuku.git
  shallow = true
[submodule "docker/workspace/xla"]
  path = docker/workspace/xla
  url = https://github.com/openxla/xla.git
  shallow = true
[submodule "docker/workspace/legate-jax"]
  path = docker/workspace/legate-jax
  url = ssh://git@github.com/nv-legate/legate.jax.git
  shallow = true
[submodule "docker/workspace/realm"]
  path = docker/workspace/realm
  url = https://gitlab.com/StanfordLegion/legion.git
  shallow = true
